parameters:
    level: 9
    excludePaths:
        - tests/bootstrap.php
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: property.unusedType
            path: src/Entity/*
        - '#Method App\\Entity\\Compte::getUserIdentifier\(\).*should return non-empty-string but returns string#'
        - '#Parameter.*of function hash expects string, string\|null given#'
